
:host ::ng-deep .custom-dropdown .p-dropdown {
  border: 3px solid #90b24b;
}
:host ::ng-deep .custom-dropdown .p-dropdown.p-focus {
  outline: 3px solid #90b24b;
  /*outline-offset: 1px;*/
}



:host ::ng-deep .custom-dropdown-size .p-dropdown {
  width: 255px; /* Adjust the width as needed */
  /*height: 40px; !* Adjust the height as needed *!*/
}

:host ::ng-deep .custom-dropdown-size .p-dropdown-label {
  line-height: 20px; /* Ensure the label aligns vertically if needed */
}


.icon-act{
  font-size: 1.7rem;
  cursor: pointer;
}

/* Customize the paginator active page background color */
::ng-deep .p-paginator .p-paginator-page.p-highlight {
  background-color: rgb(217 249 157) !important; /* Change to your desired color */
  color: #ababab; /* Change text color if needed */
}
